<!-- <div class="lightbox" [ngClass]="{'show': show}">
  <div class="wrapper">
    <header >
      <div class="photographer" >
        <fa-icon [icon]="faCamera" ></fa-icon>
        <span>{{photographer}}</span>
      </div>
      <div class="buttons">
        <a [href]= href [download]="downloadTime"><fa-icon [icon]="faDownload" ></fa-icon></a>
        <fa-icon [icon]="faXmark" (click)="close()"></fa-icon>
      </div>
    </header>
    <div class="preview-img">
      <div class="img"><img [src]="imgUrl" alt="preview-img"></div>
    </div>
  </div>
</div> -->

<!-- <section class="search" >
  <img src="assets/search-img.jpg" alt="search-img">
  <div class="content">
    <h1 id="top">Image Gallery</h1>
    <p>Search and download any images within a second</p>
    <div class="search-box">
      <fa-icon [icon]="faMagnifyingd" ></fa-icon>
      <input type="text" placeholder="Search images" [(ngModel)]="wordSearch" (change)="search()">
      <button (click)="getData()">All</button>
    </div>
  </div>
</section> -->


<!-- <app-search (searchValue)="update($event)"></app-search> -->

<!-- <app-images></app-images> -->

<app-gallery></app-gallery>



<!-- <section class="gallery">
  <button (click)="get()">test</button>
  <ul class="images">

    <li class="card" *ngFor="let item of photos">
      <img [src]=item.src.large2x alt="" (click)="open(item.photographer , item.src.large2x )"  >
      <div class="details">
        <div class="photographer">
          <fa-icon [icon]="faCamera" ></fa-icon>
          <span>{{item.photographer}}</span>
        </div>
      </div>
    </li>

  </ul>

  <div class="btns">
    <button class="load-more" [ngClass]="{'disabled' : page == 1 }" (click)="[previous('top')]" >Previous</button>
    <button class="load-more" (click)="[next('top')]">Next</button>
  </div>

</section> -->
